<nb-card>
    <nb-card-header>
        CADASTRAR FUNCIONÁRIO
    </nb-card-header>
    <nb-card-body>
        <form *ngIf="!bExibirVeiculo" [formGroup]="buscaForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Placa</label>
                        <div style="white-space:pre-line"></div>
                        <input maxlength="10" type="text" formControlName="placa" class="form-control" />
                    </div>
                    <div class="col-auto">
                        <label>Modelo</label>
                        <div style="white-space:pre-line"></div>
                        <input maxlength="30" type="text" formControlName="modelo" class="form-control" />
                    </div>

                    <div class="col-auto">
                        <button class="btn btn-primary espacoCimaConsulta" (click)="buscarVeiculo()">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="!bExibirVeiculo && exibirTabela" class="row mt-4">
            <div class="col-sm">
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
                </ng2-smart-table>
            </div>
        </div>

        <form *ngIf="bExibirVeiculo" [formGroup]="veiculoForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-auto">
                        <h1>Dados do Veículo</h1>
                    </div>
                    <div class="col-sm">
                        <hr />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Placa</label>
                        <input max="10" type="text" formControlName="placa" class="form-control" maxlength="10"
                            oninput="this.value = this.value.toUpperCase()"
                            [ngClass]="{ 'is-invalid': submitted && f.placa.errors }" />
                        <div *ngIf="submitted && f.placa.errors" class="invalid-feedback">
                            <div *ngIf="f.placa.errors.required">Informe corretamente a placa</div>
                            <div *ngIf="f.placa.errors.minlength">O campo deve possuir 10 caracteres</div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label>Ativo</label>
                        <div style="white-space:pre-line"></div>
                        <div style="margin-top: -4px">
                            <select class="form-control" (change)="change = true" formControlName="ativo" [(ngModel)]="empSelectedAtivo"
                                (ngModelChange)='ativoAlterado($event)'>
                                <option *ngFor=" let emp of employeeAtivo" [value]="emp.Id">{{emp.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label>Ano de Fabricação</label>
                        <div style="white-space:pre-line"></div>
                        <input style="width: 70px;" type="text" formControlName="anoFabricacao" class="form-control" />
                    </div>
                    <div class="col-auto">
                        <label>Ano do Modelo</label>
                        <div style="white-space:pre-line"></div>
                        <input style="width: 70px;" type="text" formControlName="anoModelo" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label>Chassi</label>
                        <input type="text" formControlName="chassi" class="form-control" maxlength="40"
                            [ngClass]="{ 'is-invalid': submitted && f.chassi.errors }" />
                        <div *ngIf="submitted && f.chassi.errors" class="invalid-feedback">
                            <div *ngIf="f.chassi.errors.required">Informe corretamente o Chassi</div>
                            <div *ngIf="f.chassi.errors.minlength">O campo deve possuir 40 caracteres</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-auto">
                        <label>Data de Cadastro</label>
                        <div style="white-space:pre-line"></div>
                        <input type="text" class="form-control inputData" formControlName="dtCadastro" />
                    </div>
                    <div class="col-auto">
                        <label>Data de Desativação</label>
                        <div style="white-space:pre-line"></div>
                        <input type="text" class="form-control inputData alignCenter" formControlName="dtDesativacao" />
                    </div>
                    <div class="col-auto">
                        <label>Modelo</label>
                        <input type="text" formControlName="modelo" class="form-control" maxlength="30"
                            [ngClass]="{ 'is-invalid': submitted && f.modelo.errors }" />
                        <div *ngIf="submitted && f.modelo.errors" class="invalid-feedback">
                            <div *ngIf="f.modelo.errors.required">Informe corretamente o Modelo</div>
                            <div *ngIf="f.modelo.errors.minlength">O campo deve possuir 30 caracteres</div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label>Cor</label>
                        <input type="text" formControlName="cor" class="form-control" maxlength="20"
                            [ngClass]="{ 'is-invalid': submitted && f.cor.errors }" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-auto">
                        <label>Consumo Médio (KM)</label>
                        <div style="white-space:pre-line"></div>
                        <div style="margin-top: 8px">
                            <p-spinner (change)="change = true" size="3" formControlName="consumoMedio" [min]="1"
                                [step]="0.1" [formatInput]="true"
                                [ngClass]="{ 'is-invalid': submitted && f.consumoMedio.errors }"></p-spinner>
                            <div *ngIf="submitted && f.consumoMedio.errors" class="invalid-feedback">
                                <div *ngIf="f.consumoMedio.errors.required">Informe corretamente o Consumo Médio
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <label>Quantidade de Passageiros</label>
                        <div style="white-space:pre-line"></div>
                        <div style="margin-top: 8px">
                            <p-spinner (change)="change = true" size="3" formControlName="numeroPassageiros" [min]="1">
                            </p-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-4">
                <div class="row">
                    <div class="col-auto">
                        <button class="btn btn-info" (click)="voltar()">Voltar</button>
                        <button class="btn btn-success ml-2" (click)="salvar()">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>