<nb-layout>
    <nb-layout-column>
        <div class="">
        <div class="d-flex justify-content-center">
            <div class="mt-5 col-sm-4">
                <nb-card>
                    <nb-card-body>
                        <h1 id="title" class="title">Login</h1>
                        <p class="sub-title">Entre com usuário e senha</p>
                        <nb-alert *ngIf=" mensagem !== ''" outline="danger" role="alert">
                            <p class="alert-title"><b>Error!</b></p>
                            <ul class="alert-message-list">
                                <li class="alert-message">{{mensagem}}</li>
                            </ul>
                        </nb-alert>
                        <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
                            <div>
                                <label class="label" for="input-usuario">Usuário:</label>
                                <input nbInput fullWidth [(ngModel)]="usuario" name="usuario" id="input-usuario" placeholder="Usuário"
                                    autofocus>
                            </div>
                            <div class="form-control-group">
                                <label class="label" for="input-password">Senha:</label>
                                <input nbInput fullWidth [(ngModel)]="password" name="password" type="password" id="input-password"
                                    placeholder="Senha">
                            </div>

                            <div class="form-control-group accept-group mt-2">
                                <nb-checkbox name="rememberMe" [(ngModel)]="rememberMe">Manter Conectado</nb-checkbox>
                            </div>
                            <button class="mt-2" nbButton>
                                Entrar
                            </button>
                        </form>
                    </nb-card-body>
                    <nb-layout-footer>Versão 1.0</nb-layout-footer>
                </nb-card>
            </div>
        </div>
    </div>
    </nb-layout-column>
</nb-layout>