.custonInputTelefone {
    width: 150px;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .custonInputCEP {
    width: 115px;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  select {
    width: 135px;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  label[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=checkbox]{
    width: 100%;
    color: red;
    padding: 0x 0px;
    margin: 0px 0;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  h1{
    font-size: 14px;
    font-weight: bold;
}
  h2{
    font-size: 16px;
    font-weight: bold;
  }
  
  input.ng-invalid {
    background-color:#FFA500;
  }

  .customButton{
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
  }

  ul{
    list-style-type: none;
    padding: 0px 0px;
    margin: 0px 0;
  }

  .Customlabel{
    width: 100%;
    padding: 12px 0px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .select2 {
    width: auto;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

   /*centralizar texto corpo*/
   :host /deep/ ng2-smart-table tbody{
    text-align: center;
  }

  :host /deep/ ng2-smart-table thead th{
    text-align: center;
    width: 50px;
  }

  :host /deep/ ng2-smart-table thead input-filter input{
    text-align: center;
}

:host /deep/ ng2-smart-table thead select-filter select {
  height: calc(2rem + 4px) !important;
  padding: 0 10px !important;
}

table-cell-default-editor select-editor select {
  height: calc(2rem + 8px) !important;
  padding: 0 10px !important;
}
 